gunicorn
dj-database-url
whitenoise
psycopg2-binary
asgiref==3.9.1
certifi==2025.8.3
charset-normalizer==3.4.2
cloudinary==1.44.1
dj-database-url==3.0.1
Django==4.2.23
django-admin-sortable2==2.2.8
django-cloudinary-storage==0.3.0
gunicorn==23.0.0
idna==3.10
packaging==25.0
pillow==11.3.0
psycopg==3.2.9
psycopg-binary==3.2.9
python-decouple==3.8
requests==2.32.4
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.14.1
urllib3==2.5.0
whitenoise==6.9.0
