<!DOCTYPE html>
<html>
<head>
  <title>Live Map</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
  <style>
    #map { height: 100vh; width: 100%; }
  </style>
</head>
<body>

<div id="map"></div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
const map = L.map('map').setView([10.730305520409406, 106.64619687800875], 14);

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
  maxZoom: 19
}).addTo(map);

{% for loc in locations %}
L.marker([{{ loc.latitude }}, {{ loc.longitude }}])
  .addTo(map)
  .bindPopup("{{ loc.session_id }}<br>{{ loc.updated_at }}");
{% endfor %}
</script>

<script>
setTimeout(() => {
  window.location.reload();
}, 5000);
</script>
</body>
</html>
